@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.flex-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type='radio'] {
  display: none;
}

[type='radio']:checked + .gender {
  background: #e76f51;
}

.bmi {
  background: #264653;
  width: 34rem;
  border-radius: 1.6rem;
}

.bmi-header {
  background: #2a9d8f;
  text-align: center;
  padding-block: 1.6rem;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

/* Section Gender */

.bmi-gender .gender {
  background: #f4a261;
  width: 13rem;
  padding: 1.6rem 0;
  display: block;
  border-radius: 1rem;
  transition: background 0.3s ease;
  cursor: pointer;
}

.bmi-gender .gender:hover {
  background: #e76f51;
}

.bmi-gender .gender p {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-top: 1.6rem;
}

.bmi-gender .gender i {
  font-size: 6rem;
}

.bmi-gender > * {
  text-align: center;
}

/* Section Height */

.bmi-height {
  background: #f4a261;
  border-radius: 1rem;
  padding: 1.6rem;
  text-align: center;
  position: relative;
  margin-block: 1.6rem;
  width: 100%;
  position: relative;
}

.bmi-height p {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bmi-height .range-input {
  appearance: none;
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
}

.bmi-height .range-input::-webkit-slider-thumb {
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  background: #2a9d8f;
  border-radius: 50%;

  position: relative;
  z-index: 3;
}

.bmi-height .range-container {
  position: relative;
}

.bmi-height .progess {
  width: 0%;
  height: 0.4rem;
  background: #2a9d8f;
  border-radius: 0.3rem;
  position: absolute;
  top: 48%;
  left: 0;
  pointer-events: none;
}

/* Section Weight and Age */

.bmi-num .option {
  background: #f4a261;
  width: 13rem;
  padding-block: 2rem;
  border-radius: 1rem;
}

.bmi-num .option > p {
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: bold;
}

.bmi-num .option input {
  width: 50%;
  margin: 0 3rem;
  text-align: center;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  transition: border 0.3s ease;
}

.bmi-num .option input:focus {
  border-bottom: 1px solid #264653;
}

.bmi-button {
  width: 100%;
  margin-top: 1.6rem;
  background: #2a9d8f;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}

button {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 1rem;
  display: block;
  cursor: pointer;
  transform: scale(0.9);
  font-size: 1.6rem;
}

.bmi-button:active {
  transform: translateY(6px);
  transform: scale(0.9);
}

.bmi-result {
  background: #2a9d8f;
  text-align: center;
  padding-block: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.bmi-result p {
  font-size: 2rem;
}
