* {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.content {
  border: 1px solid #000;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  height: 76px;
}

.content .box {
  width: 70px;
  background: #c69648;
  border: 1px solid #000;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  color: #fff;
  transition-property: left;
  transition-duration: 4s;
  /* transition-timing-function: ease-in; */
}

.content .box.move {
  left: 93%;
}
